{% set radicale = salt['grains.filter_by']({
    'Fedora': {
        'config': '/etc/radicale/config',
        'certificate': '/etc/pki/tls/certs/localhost.crt',
        'daemon': 'True',
        'filesystem_folder': '/var/lib/radicale/collections',
        'htpasswd_filename': '/etc/radicale/users',
        'key': '/etc/pki/tls/private/localhost.key',
        'logfile': '/var/log/radicale/radicale.log',
        'logging': '/etc/radicale/logging',
        'pkg': 'radicale',
        'rights_file': '/var/lib/radicale/rights',
        'service': 'radicale',
    },
    'FreeBSD': {
        'config': '/usr/local/etc/radicale/config',
        'certificate': '/usr/local/etc/apache2/ssl/server.crt',
        'daemon': 'False',
        'filesystem_folder': '/usr/local/share/radicale/collections',
        'htpasswd_filename': '/usr/local/etc/radicale/users',
        'key': '/usr/local/etc/apache2/ssl/server.key',
        'logfile': '/var/log/radicale',
        'logging': '/usr/local/etc/radicale/logging',
        'pkg': 'py27-radicale',
        'rights_file': '/usr/local/share/radicale/rights',
        'service': 'radicale',
    },
    'Ubuntu': {
        'config': '/etc/radicale/config',
        'certificate': '/etc/apache2/ssl/server.crt',
        'daemon': 'True',
        'filesystem_folder': '/var/lib/radicale/collections',
        'htpasswd_filename': '/etc/radicale/users',
        'key': '/usr/local/etc/apache2/ssl/server.key',
        'logfile': '/var/log/radicale',
        'logging': '/etc/radicale/logging',
        'pkg': 'radicale',
        'rights_file': '/var/lib/radicale/rights',
        'service': 'radicale',
    },
}, merge=salt['pillar.get']('radicale:lookup'), default='Ubuntu') %}
