{% set radicale = salt['grains.filter_by']({
    'default': {
        'config': '/etc/radicale.conf',
        'daemon': 'False',
        'filesystem_folder': '/var/lib/radicale/collections',
        'htpasswd_filename': '/etc/radicale/users',
        'logfile': '/var/log/radicale',
        'logging': '/etc/radicale/logging',
        'pkg': 'radicale',
        'rights_file': '/var/lib/radicale/rights',
        'service': 'radicale',
    },
    'Fedora': {
        'config': '/etc/radicale/config',
        'daemon': 'True',
        'filesystem_folder': '/var/lib/radicale/collections',
        'htpasswd_filename': '/etc/radicale/users',
        'logfile': '/var/log/radicale',
        'logging': '/etc/radicale/logging',
        'pkg': 'radicale',
        'rights_file': '/var/lib/radicale/rights',
        'service': 'radicale',
    },
    'FreeBSD': {
        'config': '/usr/local/etc/radicale/config',
        'daemon': 'False',
        'filesystem_folder': '/usr/local/share/radicale/collections',
        'htpasswd_filename': '/usr/local/etc/radicale/users',
        'logfile': '/var/log/radicale',
        'logging': '/usr/local/etc/radicale/logging',
        'pkg': 'py27-radicale',
        'rights_file': '/usr/local/share/radicale/rights',
        'service': 'radicale',
    },
    'Ubuntu': {
        'config': '/etc/radicale/config',
        'daemon': 'True',
        'filesystem_folder': '/var/lib/radicale/collections',
        'htpasswd_filename': '/etc/radicale/users',
        'logfile': '/var/log/radicale',
        'logging': '/etc/radicale/logging',
        'pkg': 'radicale',
        'rights_file': '/var/lib/radicale/rights',
        'service': 'radicale',
    },
}, merge=salt['pillar.get']('radicale:lookup')) %}
